{% extends 'umessages/base_message.html' %}
{% load i18n %}

{% block content %}
<div>
	<div class="left">
		<h2 class="content-title">Conversation with {{ recipient }}</h2>
	</div>
	<div class="right">
		<a class="btn btn-primary"href="{% url accounts_umessages_compose_to recipient.username %}" class="button"><i class="icon-pencil icon-white"></i> {% trans "Reply" %}</a>
	</div>
</div>

<table class="table">
{% for message in message_list %}
<tr class="{% if message.sender == user %}send{% else %}received{% endif %}">
	<td width="70px">
  		<img src="{{ message.sender.profile.get_mugshot_url }}" class="avatar {% if message.sender == user %}send{% else %}received{% endif %}" />
  	</td>
  	<td>
    	{{ message }}
    </td>
    <td class="timestamp">
    	{{ message.sent_at }}
    </td>
  </tr>
</li>
{% endfor %}
</table>
{% endblock %}
