{% extends 'umessages/base_message.html' %}
{% load i18n %}
{% load tags %}
{% load bootstrap_toolkit %}

{% block title %}{% trans "Compose" %}{% endblock %}

{% block content %}
<form class="well" action="" method="post" id="compose_message_form">
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "Compose message" %}</legend>
    {{ form|as_bootstrap }}
  </fieldset>
      <div class="form-actions">
  <input type="submit" class="btn btn-primary" name="send" value="{% trans "Send" %}" />
        <a href="../." class="btn">{% trans "Cancel" %}</a>
    </div>
{% endblock %}
{% block script %}
$('#id_to').select2({tags: [{% all_users %}]});
{% endblock %}
