@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'MarydaleRegular';
  src: url('fonts/marydale/marydale.eot');
  src: url('fonts/marydale/marydale.eot?#iefix') format('embedded-opentype'),
       url('fonts/marydale/marydale.woff') format('woff'),
       url('fonts/marydale/marydale.ttf') format('truetype'),
       url('fonts/marydale/marydale.svg#MarydaleRegular') format('svg');
}

html {
  background: url('../img/background.png') fixed 0 0;
}

html,
body {
  overflow: hidden;
}

.intro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: inline-table;
  margin: auto;
  width: 100%;
  text-align: center;
}

.navbar-fixed-bottom {
  overflow: hidden;
}

body {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  background: transparent;
  cursor: auto;
}

li.dropdown>a:first-child {
  float: left !important;
  display: inline-block !important;
  margin-right: 0;
  border-right: 0;
}

.dropdown {
  display: table;
}

li.dropdown>a + a {
  display: inline-block;
  margin-right: 0;
  padding: 0 10px 0 0;
  border-left: 0 !important;
}

.navbar .divider-vertical {
  margin-right: 0;
  margin-left: 0;
}

.navbar li a {
  border-radius: 0;
}

#magic-line {
  position: absolute;
  z-index: 88;
  border-bottom: 5px solid #0074CC;
}

.navbar-inner > .nav-pills:first-of-type {
  margin: 0;
}

.navbar-inner > .nav-pills:first-of-type > li:first-child > a {
  padding-left: 65px;
  height: 30px;
  background: url('../img/logo2.svg') no-repeat 22px 2px;
}

.navbar-inner>ul>li {
  margin-top: -1px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.dateThing,
.timeThing {
  width: 75px;
}

.timestamp {
  width: 120px;
  font-size: 10px;
}

.badge {
  position: relative;
  top: -2px;
  padding: 2px 9px;
}

.timeThing {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  vertical-align: bottom;
}

.navbar .nav > li > a {
  margin-right: 0;
  padding: 9px 12px 11px;
}

.nav-pills {
  position: static!important;
}

.nav-pills:last-of-type {
  float: right!important;
}

.navbar-form {
  display: inline-block;
  margin: 6px 0;
  margin-right: 15px;
  width: 100px;
}

.navbar-form .select2-container {
  width: 110px!important;
}

.slimScrollRail,
.slimScrollBar {
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}

body>footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  height: 20px;
  border-top: 1px dotted #AAA;
  text-align: center;
  font-size: 10px;
}

.feed {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feed li {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.feed li:last-of-type {
  border-bottom: 0;
}